[submodule "neo/extern/nvrhi"]
	path = neo/extern/nvrhi
	url = https://github.com/RobertBeckebans/nvrhi.git
	
[submodule "neo/extern/imgui-node-editor"]
	path = neo/extern/imgui-node-editor
	url = https://github.com/RobertBeckebans/imgui-node-editor.git
